@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer-1 {
    background-color: v.$gris-oscuro;
    .footer-text {
        color: v.$blanco;
        font-weight: 700;
        text-align: center;
        padding: 1rem;
        font-family: v.$fuente-principal;
    }
    
    .footer-links {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        
        a {
            color: v.$blanco;
            font-weight: 500;
            text-decoration: none;
            font-size: 1.5rem;
    
            &:hover {
                color: v.$lila-easily;
                text-decoration: none;
            }
        }
    }
}


