@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    background-color: v.$blanco;
    top: 0;
    z-index: 100;

    @include m.tablet {
        position: sticky;
    }

    .contenido-header {
        padding: 2rem;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        @include m.tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    }
    h1 {
        flex-direction: column;
        font-family: v.$fuente-titulo;
        color: v.$lila-easily;
        user-select: none;
        text-align: center;
        @include m.tablet {
            margin: 0;
            text-align: left;
        }
    }
}
.nav-principal {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

    @include m.tablet {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    &.active {
        display: flex;
    }

    a {
        font-size: 2rem;
        color: v.$lila-easily;
        padding: 1rem;

        &:hover {
            color: v.$blanco;
            background-color: v.$lila-easily-hover;
            border-radius: 0.5rem;
        }
    }
}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background: none;
    border: none;
    color: v.$lila-easily;
    cursor: pointer;
    margin-bottom: 1rem;
    
    @include m.tablet {
        display: none;
    }
}