@use 'variables' as v;

.titulo_pacifico {
        font-family: v.$fuente-titulo;
        color: v.$lila-easily;
        font-weight: 900;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 6rem;
}

.titulo-form {
    margin: 2rem;
    align-items: start;
}
